body{
    margin: 0;
    padding: 0;
}

h3 {
  text-align: center;
}

.card{
    border: solid 1px #999;
    border-radius: 10px;
    width: 250px;
}

input[type="text"]{
    width: 250px;
    height: 35px;
}

table {
   border-collapse: collapse;
   width: 100%
}

th,
td {
    height: 35px;
}

td.id{
    width:120px;
    text-align: center;
}

td.company{
    width:150px;
    text-align: center;
}

td.price{
    width:100px;
    text-align: center;
}